.parts {
    display: flex;
    justify-content: center;
    padding: 100px;
    justify-content: space-around;
     
}

img {
    height: 400px;
    width: 400px;
    margin: 0;

}

.left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 1;
    flex-basis: 50%;
    
    
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-basis: 50%;
}